<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDECEF72Y-1L5KGLgapa02glLVScxvxHcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1031166473986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanmii.wallet.stg</string>
	<key>PROJECT_ID</key>
	<string>yanmii-wallet-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>yanmii-wallet-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031166473986:ios:57a8124b0ff8769525f41b</string>
</dict>
</plist>