<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5kbJhS_ojTl6H3A_Wo4m1EQ3HqytUft0</string>
	<key>GCM_SENDER_ID</key>
	<string>784820756953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yanmii.wallet</string>
	<key>PROJECT_ID</key>
	<string>yanmii-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>yanmii-wallet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784820756953:ios:cf4a89a460efb69bf039c8</string>
</dict>
</plist>